/* start Default Theme */

/* active link */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .gear-check{
    
    background-color: #ffD500   
}

.dropdown-menu{
    
    border-top: 2px solid #ffD500;
}

.option-box .color-option,
.testimonials .carousel-indicators li.active{
    
    border: 3px solid #ffD500;
}

.testimonials span,
.footer h3,
.footer .copyright span{
    
    color: #ffD500;
}


/* end Default Theme */
